# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Build / Output
dist/
build/
